*{
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-image: url(../images/background.png);
  
}

header{
  background-color: rgba(119, 118, 118, 0.9);
  width: 600px;
  margin: auto;
}

p{
  font-size: 40px;
}

.bookmarkApp{
  background-color: rgb(119,119,119, .9);
  width: 800px;
  margin: auto;
  
}

button{
  margin-top: 10px;
  background-image: url(../images/listKey.png);
  background-size: 100% 100%;
  background-color:white;
  border-radius: 12px;
  border:none;
  
}
h1{
  text-align: center;
  font-size: 72px;
}

h2{
  text-align: center;
  font-size: 50px;
}

.cancel{
  display: flex;
  justify-content: center; 
  height: 50px;
  font-size: 40px;
  margin-bottom: 20px;
}



.removeBookmark{
  background-color:white;
  border: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.bookmarks-notexpanded{
  border:2px solid black;
  max-width: 800px;
  margin: 0 auto;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
   
}

.listButton{
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.expanded{
  font-size: 35px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bookmarksList ul{
  list-style: none;
  padding-right: 40px;
}


.infoHeader{
  display: flex;
  justify-content: space-evenly;

}
.moreInfo{
  padding-top: 20px;
  padding-left: 20px;
  padding-right:20px;
  height: auto;
 
  
}

h3{
  margin-top: 10px;
}
.visitSite{
  padding: 10px;
  font-size: 40px;
  margin-top: 5px;
  height: 50px;
}
.moreInfo p{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 40px;
}

textarea{
  font-size: 30px;
  width: 96%;
  height: 300px;
}

fieldset{
  padding-top: 0;
  padding-bottom: 0;
  height: 150px;
}

input[type="submit"]{
  height: 50px;
  font-size: 40px;
  background-image: url(../images/listKey.png);
  background-size: 100% 100%;
  border-radius: 12px;
  border:none;
}

input[type="radio"]{ 
  height: 50px;
  
}
input[type="text"]{
  width: 96%;
  height: 40px;
  font-size: 30px;
}
.addNewBookmark{
  margin: 10px;
  
}

button.newBookmark{
  width: 200px;
  height: 100px;
  font-size: 40px;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.filter-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.filter-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.filter-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .filter-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}